{%- if section.settings.show_tabs_v2 -%}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css" integrity="sha512-ELV+xyi8IhEApPS/pSj66+Jiw+sOT1Mqkzlh8ExXihe4zfqbWkxPRi8wptXIO9g73FSlhmquFlUOuMSoXz5IRw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <div id="tabs">
      <ul>
        <li><a class="product-tab-link" href="#tabs-1">Description</a></li>
        {%- if section.settings.tab_2_title != blank -%}
          <li><a class="product-tab-link" href="#tabs-2">{{ section.settings.tab_2_title }}</a></li>
        {%- endif -%}
        {%- if section.settings.tab_3_title != blank -%}
          <li><a class="product-tab-link" href="#tabs-3">{{ section.settings.tab_3_title }}</a></li>
        {%- endif -%}
      </ul>
       <div id="tabs-1">
            {{ product.description }}
        </div>

      {%- if section.settings.tab_2_content != blank -%}
        <div id="tabs-2">
            {{ section.settings.tab_2_content }}
        </div>
      {%- endif -%}
      
      {%- if section.settings.tab_3_content != blank -%}
        <div id="tabs-3">
            {{ section.settings.tab_3_content }}
        </div>
      {%- endif -%}
  </div>
  <script>
      $( document ).ready(function() {
    
        $( "#tabs" ).tabs();

        $('.product-tab-link').on('click', function(e) {
          e.preventDefault();
          return false;
        })
      });

  </script>

  <style type="text/css">
    .ui-tabs {
        padding: 0;
    }

    .ui-tabs .ui-tabs-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        border: 0;
    }

    .ui-tabs .ui-tabs-nav li {
        flex-basis: 100%;
        margin: 0;
        border: 0;
        text-align: center;
        padding: 10px 0 !important;
        border-bottom: 1px solid #ddd;
    }

    .ui-tabs .ui-tab.ui-tabs-active,
    .ui-tabs .ui-tab.ui-tabs-active a {
        background-color: #fff;
        color: #333 !important;
    }

    .ui-tabs .ui-tabs-nav li a {
        width: 100%;
        display: block;
    }

  </style>

{%- endif -%}