{%- capture flickity_options -%}
{
    "prevNextButtons": false,
    "setGallerySize": true,
    "adaptiveHeight": true,
    "wrapAround": true,
    "dragThreshold": 15,
    "pauseAutoPlayOnHover": false,
    "autoPlay": 5000,
    "pageDots": true,
    "cellAlign": "left",
    "contain": true,
    "draggable": ">1"
}
{%- endcapture -%}

{%- if section.settings.enable_customer_engagement -%}
<div class="Section Section--spacingNormal">
    <h3 class="SectionHeader__Heading Heading u-h3  SectionHeader--center">{{ section.settings.title }}</h3>
    <div class="customer-engagements" style="background-color: {{ section.settings.background }}; color: {{ section.settings.text_color }}">
        <div class="Carousel" data-flickity='{{ flickity_options }}'>
            {%- for engagement in product.metafields.customer_enagements.engagement.value -%}
                <div class="Carousel__Cell {% if forloop.first %}is-selected{% endif %}" {% if forloop.first %}style="visibility: visible"{% endif %} data-slide-index="{{ forloop.index0 }}">
                    <div class="customer-engagement">
                        <div class="image">
                            {{ engagement.image | image_url: height: 600 | image_tag }}
                        </div>
                        <div class="content">
                            <p>{{ engagement.account }}</p>
                            <p>{{ engagement.name }}</p>
                        </div>
                    </div>
                </div>
            {%- endfor -%}
        </div>
    </div>
</div>
{%- endif -%}


<style>
    .customer-engagements {
        width: 100%;
        padding: 35px 50px;
    }

    .customer-engagement {
        padding: 0 25px;
    }

    .customer-engagements .customer-engagement img {
        width: 100%;
        height: 600px;
        object-fit: cover;
        margin: auto;
        display: block;
        border-radius: 14px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .content {
        text-align: center;
        font-weight: 600;
        font-size: 18px;
        padding: 15px;
    }

    .customer-engagements .Carousel__Cell {
        width: 25%;
    }

    .content p {
        margin-bottom: 0;
    }

    @media only screen and (max-width: 620px) {
        .customer-engagements .Carousel__Cell {
            width: 100%;
        }

        .customer-engagements {
            padding: 0 20px;
        }

        .customer-engagements .customer-engagement img {
            height: 100%;
        }
    }

</style>

{% schema %}
{
  "name": "Customer Engagement",
  "class": "shopify-section--slideshow",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_customer_engagement",
      "label": "Customer Engagement",
      "default": true
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#EFEFEF"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Styled by you"
    }
  ]
}
{% endschema %}